<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scau.dao.CateoryMapper" >
  <resultMap id="BaseResultMap" type="com.scau.entity.Cateory" >
    <id column="cat_id" property="catId" jdbcType="INTEGER" />
    <result column="cat_name" property="catName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    cat_id, cat_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cateory
    where cat_id = #{catId,jdbcType=INTEGER}
  </select>
  <select id="getCount" resultType="java.lang.Integer">
    SELECT COUNT(*) FROM cateory
  </select>
  <select id="queryByName" resultMap="BaseResultMap" parameterType="java.lang.String">
    SELECT
    <include refid="Base_Column_List" />
    from cateory
    <where>
    <if test="catName!=null">
        cat_name=#{catName}
    </if>
  </where>
  </select>
    <select id="getAll" resultType="com.scau.entity.Cateory" resultMap="BaseResultMap">
        SELECT * FROM cateory
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cateory
    where cat_id = #{catId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scau.entity.Cateory" >
    insert into cateory (cat_id, cat_name)
    values (#{catId,jdbcType=INTEGER}, #{catName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.scau.entity.Cateory" >
    insert into cateory
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="catId != null" >
        cat_id,
      </if>
      <if test="catName != null" >
        cat_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="catId != null" >
        #{catId,jdbcType=INTEGER},
      </if>
      <if test="catName != null" >
        #{catName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <insert id="insertSelectiveDeId" parameterType="com.scau.entity.Cateory" useGeneratedKeys="true" keyProperty="catId">
      <selectKey keyProperty="catId" resultType="int" order="BEFORE">
          SELECT LAST_INSERT_ID()
      </selectKey>
    insert into cateory
      <trim prefix="(" suffix=")" suffixOverrides="," >
          <if test="catId != null" >
              cat_id,
          </if>
          <if test="catName != null" >
              cat_name,
          </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides="," >
          <if test="catId != null" >
              #{catId,jdbcType=INTEGER},
          </if>
          <if test="catName != null" >
              #{catName,jdbcType=VARCHAR},
          </if>
      </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scau.entity.Cateory" >
    update cateory
    <set >
      <if test="catName != null" >
        cat_name = #{catName,jdbcType=VARCHAR},
      </if>
    </set>
    where cat_id = #{catId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scau.entity.Cateory" >
    update cateory
    set cat_name = #{catName,jdbcType=VARCHAR}
    where cat_id = #{catId,jdbcType=INTEGER}
  </update>
</mapper>