<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scau.dao.TagMapper" >
  <resultMap id="BaseResultMap" type="com.scau.entity.Tag" >
    <id column="tag_id" property="tagId" jdbcType="INTEGER" />
    <id column="art_id" property="artId" jdbcType="INTEGER" />
    <result column="tag_name" property="tagName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    tag_id, art_id, tag_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.scau.entity.TagKey" >
    select 
    <include refid="Base_Column_List" />
    from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
      and art_id = #{artId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.scau.entity.TagKey" >
    delete from tag
    where tag_id = #{tagId,jdbcType=INTEGER}
      and art_id = #{artId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.scau.entity.Tag" >
    insert into tag (tag_id, art_id, tag_name
      )
    values (#{tagId,jdbcType=INTEGER}, #{artId,jdbcType=INTEGER}, #{tagName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.scau.entity.Tag" >
    insert into tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="artId != null" >
        art_id,
      </if>
      <if test="tagName != null" >
        tag_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tagId != null" >
        #{tagId,jdbcType=INTEGER},
      </if>
      <if test="artId != null" >
        #{artId,jdbcType=INTEGER},
      </if>
      <if test="tagName != null" >
        #{tagName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.scau.entity.Tag" >
    update tag
    <set >
      <if test="tagName != null" >
        tag_name = #{tagName,jdbcType=VARCHAR},
      </if>
    </set>
    where tag_id = #{tagId,jdbcType=INTEGER}
      and art_id = #{artId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.scau.entity.Tag" >
    update tag
    set tag_name = #{tagName,jdbcType=VARCHAR}
    where tag_id = #{tagId,jdbcType=INTEGER}
      and art_id = #{artId,jdbcType=INTEGER}
  </update>
</mapper>